<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="../assets/plugins/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../assets/plugins/datatables/jquery.dataTables.min.css"
    />
    <link href="css/style.css" rel="stylesheet" />

    <title>Region</title>
  </head>
  <body>
    <div class="container">
      <button
        class="btn btn-primary my-3"
        data-toggle="modal"
        data-target="#responsive-modal"
      >
        Create New
      </button>
      <table class="table table-bordered" id="myTable">
        <thead>
          <tr>
            <td>Region ID</td>
            <td>Name</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <!-- sample modal content -->
    <div
      id="responsive-modal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
      style="display: none"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              ×
            </button>
            <h4 class="modal-title">Region</h4>
          </div>
          <div class="modal-body">
            <form id="createForm">
              <div class="form-group">
                <label for="regionName" class="control-label"
                  >Region Name:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="regionName"
                  name="name"
                />
              </div>
              <div class="form-group" hidden>
                <label for="regionId" class="control-label">ID: </label>
                <input
                  type="text"
                  class="form-control"
                  id="regionId"
                  name="id"
                  value=""
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default waves-effect"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-danger waves-effect waves-light"
              onclick="create()"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal -->

    <script src="../assets/plugins/jquery/jquery.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/plugins/datatables/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(() => {
        $("#myTable").DataTable({
          ajax: {
            url: "/api/regions",
            type: "GET",
            headers: {
              "x-access-token": "FGH-CVB-BNM",
            },
            // kalo masih standar kasih "" aja
            dataSrc: "data",
          },
          // mendefinisikan kolum yang dipunya
          // searchabale, target, orderable
          columnDefs: [
            {
              targets: [0],
              visible: false,
              searchable: false,
            },
            {
              targets: [2],
              searchable: false,
              orderable: false,
            },
          ],
          columns: [
            {
              data: "id",
            },
            {
              data: "name",
            },
            {
              render: (data, type, full, meta) => {
                let html = "";
                html += `
                <a data-id=${full.id} data-toggle="modal" data-target="#responsive-modal" class="edit" onclick="edit(${full.id})"><i class="fa fa-pencil"></i></a>
                <a onclick="remove(${full.id})"><i class="fa fa-trash-o"></i></a>`;
                return html;
              },
            },
          ],
        });
      });

      function edit(id) {
        let regionId = id;
        $(".modal-body").find("#regionId").val(regionId);
      }

      function remove(id) {
        $.ajax({
          url: `/api/region/${id}/delete`,
          type: "DELETE",
        })
          .done((response) => {
            console.log(response);
            $("#myTable").DataTable().ajax.reload();
          })
          .fail(() => console.log("ERROR!"));
      }

      function create() {
        // let region = {
        //   name: "Test Region 2",
        // };
        let form = document.getElementById("createForm");
        let formData = new FormData(form);
        let regionData = {
          id: formData.get("id"),
          name: formData.get("name"),
        };

        $.ajax({
          url: "/api/region/save",
          type: "POST",
          contentType: "application/json",
          headers: { "x-access-token": "FGH-CVB-BNM" },
          data: JSON.stringify(regionData),
        })
          .done((response) => {
            console.log(response);
            document.getElementById("createForm").reset();
            $("#myTable").DataTable().ajax.reload();
          })
          .fail(() => console.log("ERROR!"));
      }

      $("#responsive-modal").on("hidden.bs.modal", function () {
        $(this).find("form").trigger("reset");
      });
    </script>
  </body>
</html>
