<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <form method="post" th:action="@{/account/password/change/success}" th:object="${user}">
        <input type="hidden" th:field="*{id}"/>
        <label for="recentPass">Recent Password:</label><br/>
        <input type="password" name="recentPass" required/><br/>
        <label for="newPass">New Password:</label><br/>
        <input type="password" name="newPass" required/><br/>
        <label for="confirmPass">Confirm New Password:</label><br/>
        <input type="password" name="confirmPass" required/><br/>
        <button type="submit">Change Password</button>
    </form>
</body>
</html>
