<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register New User</title>
</head>
<body>
    <form method="post" th:action="@{save}" th:object="${user}">
        <input th:field="*{employee.name}" name = "name" placeholder="Employee Name"><br>
        <input th:field="*{employee.email}" name = "email" placeholder="Email"><br>
        <input th:field="*{employee.birthDate}" name = "birthDate" placeholder="Birth Date"><br>
        <input th:field="*{employee.address}" name = "address" placeholder="Address"><br>
        <input th:field="*{employee.phone}" name = "phone" placeholder="Phone"><br>
        <input th:field="*{username}" name = "username" placeholder="Username"><br>
        <input th:field="*{password}" name = "password" placeholder="Password"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>