<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
  </head>

  <body>
    <h1>Reset Password</h1>
    <form method="post" th:action="@{/account/reset-password}">
      <input type="hidden" name="email" th:value="${email}"/>
      <label>New Password: </label>
      <input type="password" name="password" required />
      <button type="submit">Reset Password</button>
    </form>
    <p th:text="${error}"></p>
  </body>

  </html>

</body>

</html>